---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					<li>
						<a href="/blog/canonical-to-broken/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
							<h4 class="title">Canonical to Broken URL Test</h4>
							<p class="date">Test page (manual link)</p>
						</a>
					</li>

					<li>
						<a href="/blog/canonical1/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
							<h4 class="title">Canonical to Broken URL Test1</h4>
							<p class="date">Test page1 (manual link)</p>
						</a>
					</li>

					<li>
  						<a href="/blog/no-canonical/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
   						 	<h4 class="title">No Canonical Test</h4>
    							<p class="date">Test page with no canonical</p>
  						</a>
					</li>

					<li>
						<a href="/blog/canonical2/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
							<h4 class="title">Canonical to Broken URL Test2</h4>
							<p class="date">Test page2 (manual link)</p>
						</a>
					</li>

					<li>
						<a href="/blog/canonical3/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
							<h4 class="title">Canonical to Broken URL Test3</h4>
							<p class="date">Test page3 (manual link)</p>
						</a>
					</li>

					<li>
						<a href="/blog/canonical4/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
							<h4 class="title">Canonical to Broken URL Test4</h4>
							<p class="date">Test page4 (manual link)</p>
						</a>
					</li>

					<li>
						<a href="/blog/canonical5/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
							<h4 class="title">Canonical to Broken URL Test5</h4>
							<p class="date">Test page5 (manual link)</p>
						</a>
					</li>

					<li>
						<a href="/blog/canonical6/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
							<h4 class="title">Canonical to Broken URL Test6</h4>
							<p class="date">Test page6 (manual link)</p>
						</a>
					</li>

					<li>
						<a href="/blog/canonical-test/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
							<h4 class="title">Canonical Test with JS script</h4>
							<p class="date">Test page7 (manual link)</p>
						</a>
					</li>

					<li>
  						<a href="/blog/no-canonical1/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
   						 	<h4 class="title">No Canonical Test1</h4>
    							<p class="date">Test page with no canonical1</p>
  						</a>
					</li>

					<li>
  						<a href="/blog/canonical-1only/">
							<img width="720" height="360" src="/blog-placeholder-3.jpg" alt="" />
   						 	<h4 class="title">Canonical Test-1only</h4>
    							<p class="date">Test page with 1canonical only in http</p>
  						</a>
					</li>

					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
